<!DOCTYPE html>
<html>
<head>
   <title></title>
   <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
</head>
<body>
   <div>
      <form action="#" id="send" method="post">
         <input type="text" placeholder="Enter a new URL" id="newurl">
         <input type="submit" class="submit" value="Submit">
      </form>
   </div>

   <div id="linkList"><div>
   
   <script src="../static/client.js"></script>

   <script>
      $(function(){
        client.init()
      });
   </script>
</body>
</html>